name: 02 - Workflow Events

on: push

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: echo "The event name is ${{ github.event_name }}"
      - name: Show event action
        run: echo "The event action is ${{ github.event.action || 'N/A' }}"
      - name: Show repository name
        run: echo "The repository name is ${{ github.repository }}"